<%- include("partials/header")%>

<%- include("partials/nav")%>

<h1 class="px-4">About</h1>
<p class="px-5">In the United States,

    the Merriam-Webster Dictionary defines a grocery store as "a store that sells food and household supplies : supermarket". In other words, in common U.S. usage, "grocery store" is a synonym for supermarket. The Oxford English Dictionary notes that the term "grocery store" in American English is often used to mean 'supermarket'".
    the U.S. and Canadian governments have a wider definition of grocery stores, not limiting them to supermarkets. The category of business (NAICS code 4551) "Grocery stores" is defined as "primarily engaged in retailing a general line of food products", and the subcategory (NAICS code 455110), "Supermarkets and Other Grocery (except Convenience) Stores" is defined as "establishments generally known as supermarkets and grocery stores, primarily engaged in retailing a general line of food, such as canned and frozen foods; fresh fruits and vegetables; and fresh and prepared meats, fish, and poultry. Included in this industry are delicatessen-type establishments primarily engaged in retailing a general line of food.
    <br><br>
    A grocery store (AE), grocery shop (BE) or simply grocery[1] is a foodservice retail store that primarily retails a general range of food products,[2] which may be fresh or packaged. In everyday U.S. usage, however, "grocery store" is a synonym for supermarket,[3] and is not used to refer to other types of stores that sell groceries. In the UK, shops that sell food are distinguished as grocers[3] or grocery shops (though in everyday use, people usually use either the term "supermarket" or a "corner shop"[4] or "convenience store").
</p>
<%- include("partials/footer")%>
